[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "neovim_config"]
	path = neovim_config
	url = git@github.com:kaskogsholm/neovim_config.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
